<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/index.js"></script>

</head>
<body>
    <div class="console">

    </div>
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2 id="modal-title">모달</h2>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                <img src="" id="modal-img" style="width:100%;"/>
            </div>
            <div class="footer">
                <a href="" target="_blank" id="modal-link">자세히 알아보기</a>
            </div>
        </div>
    </div>
</body>
</html>